html, body {
    height: 100%; 
}
body {
    margin: 0;
    font-family: roboto,arial;
    background-color: #FF8F00;
    display: flex;
    justify-self: center;
}
.game-name {
    color: rgb(83, 25, 218);
    font-size: 50px;
    font-weight: bold;
    cursor: default;
}
.play-game,.exit {
    font-size: 78px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    border-radius: 18px;
    color: white;
    background-color: rgb(72, 72, 223);
    border: none;
    cursor: pointer;
    transition: background-color 0.15s;
}
.play-game:hover,.exit:hover {
    background-color: rgb(93, 93, 237);
}
.play-game:active,.exit:active {
    background-color: rgb(29, 29, 252);
}
.play-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.display {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}